.input {
  width: calc(100% - 8px);
  font-family: "myFirstFont";
  -webkit-appearance: initial;
  border: none;
  background-color: var(--theotown-creater-secondary-dark);
  color: #fff;
  padding: 5px 18px;
  position: relative;
  z-index: 5;
  text-decoration: none;
  margin: 4px;
  box-shadow: 0px 4px 0 0 var(--input-border),
    4px 0px 0 0 var(--input-border),
    -4px 0px 0 0 var(--input-border),
    0px -4px 0 0 var(--input-border),
    0px -3px 0 0 var(--theotown-creater-secondary-inline-shadow) inset,
    3px 0px 0 0 var(--theotown-creater-secondary-inline-shadow) inset,
    0px 3px 0 0 var(--theotown-creater-secondary-inline-shadow) inset,
    -3px 0px 0 0 var(--theotown-creater-secondary-inline-shadow) inset;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  --input-border: var(--theotown-creater-secondary-bright);
}

.input::-webkit-input-placeholder {
  color: #add8e6;
}
.input::-moz-placeholder {
  color: #add8e6;
}
.input:-ms-input-placeholder {
  color: #add8e6;
}

.input:focus {
    --input-border:var(--theotown-creater-primary)
}

.label {
  font-size: 20px;
  margin-bottom: 8px;
}
