.button {
  -webkit-appearance: initial;
  border: none;
  color: var(--theotown-creater-orange-0);
  padding: 5px 18px;
  position: relative;
  z-index: 5;
  text-decoration: none;
  margin: 4px;
  cursor: pointer;
  display: block;
  text-align: center;
}


.primary {
  --name-private-background-color: var(--theotown-creater-primary);
  --name-private-border-color: var(--theotown-creater-primary-bright);
  --name-private-shadow-color: var(--theotown-creater-primary-shadows);
}

.secondary {
  --name-private-background-color: var(--theotown-creater-secondary);
  --name-private-border-color: var(--theotown-creater-secondary-bright);
  --name-private-shadow-color: var(--theotown-creater-secondary-shadows);
}
