.sliderBox {
  width: var(--name-private-slider-width);
  height: var(--name-private-slider-height);
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 4px; */
  --name-private-slider-width: var(--name-slider-width, 100%);
  --name-private-slider-height: var(--name-slider-height, 16px);
  --name-private-thumb-width: var(--name-thumb-width, 24px);
  --name-private-thumb-height: var(--name-thumb-height, 24px);
  --name-private-slider-border-width: var(--name-border-width, 3px);
  --name-private-slider-border-color: var(
    --name-border-color,
    var(--theotown-creater-primary-bright)
  );
  position: relative;
}
/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%;/* Full-width */
  height: 100%;
  outline: none; /* Remove outline */
  position: absolute;
  --name-private-slider-background-color: var(
    --name-slider-background-color,
    var(--theotown-creater-primary)
  );
  --name-private-slider-border-width: var(--name-slider-border-width, 3px);
  --name-private-slider-border-color: var(
    --name-slider-border-color,
    var(--theotown-creater-primary-bright)
  );
  --name-private-slider-shadow-color: var(
    --name-shadow-color,
    var(--theotown-creater-primary-shadows)
  );
  --name-private-shadow-spread: calc(-1 * var(--name-private-border-width));
  --name-private-border-top: 0px calc(2 * var(--name-private-shadow-spread)) 0px
    var(--name-private-shadow-spread) var(--name-private-slider-border-color);
  --name-private-border-bottom: 0px calc(-2 * var(--name-private-shadow-spread))
    0px var(--name-private-shadow-spread) var(--name-private-slider-border-color);
  --name-private-border-right: calc(-2 * var(--name-private-shadow-spread)) 0px
    0px var(--name-private-shadow-spread) var(--name-private-slider-border-color);
  --name-private-border-left: calc(2 * var(--name-private-shadow-spread)) 0px
    0px var(--name-private-shadow-spread) var(--name-private-slider-border-color);
  --name-private-shadow-1: inset 0px calc(0 * var(--name-private-shadow-spread))
    0px 6px var(--name-private-slider-shadow-color);
  background-color: var(--name-private-slider-background-color);
  box-shadow: var(--name-private-border-bottom), var(--name-private-border-left),
    var(--name-private-border-top), var(--name-private-border-right),
    inset -1px 0px 0px var(--name-private-slider-border-color),
    inset 0px -1px 0px var(--name-private-slider-border-color),
    inset 1px 0px 0px var(--name-private-slider-border-color),
    inset 0px 1px 0px var(--name-private-slider-border-color),
    var(--name-private-shadow-1);
  margin: var(--name-private-border-width) var(--name-private-border-width)
    var(--name-private-border-width) var(--name-private-border-width);
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: var(
    --name-private-thumb-width
  ); /* Set a specific slider handle width */
  height: var(--name-private-thumb-height); /* Slider handle height */
  cursor: pointer; /* Cursor on hover */
  --name-private-thumb-background-color: var(
    --name-thumb-background-color,
    var(--theotown-creater-primary)
  );
  --name-private-thumb-border-width: var(--name-border-width, 3px);
  --name-private-thumb-border-color: var(
    --name-thumb-border-color,
    var(--theotown-creater-primary-bright)
  );
  --name-private-thumb-shadow-color: var(
    --name-thumb-shadow-color,
    var(--theotown-creater-primary-shadows)
  );
  --name-private-shadow-spread: calc(-1 * var(--name-private-thumb-border-width));
  --name-private-border-top: 0px calc(2 * var(--name-private-shadow-spread)) 0px
    var(--name-private-shadow-spread) var(--name-private-thumb-border-color);
  --name-private-border-bottom: 0px calc(-2 * var(--name-private-shadow-spread))
    0px var(--name-private-shadow-spread) var(--name-private-thumb-border-color);
  --name-private-border-right: calc(-2 * var(--name-private-shadow-spread)) 0px
    0px var(--name-private-shadow-spread) var(--name-private-thumb-border-color);
  --name-private-border-left: calc(2 * var(--name-private-shadow-spread)) 0px
    0px var(--name-private-shadow-spread) var(--name-private-thumb-border-color);

  background-color: var(--name-private-thumb-background-color);
  box-shadow: var(--name-private-border-bottom), var(--name-private-border-left),
    var(--name-private-border-top), var(--name-private-border-right),
    inset -1px 0px 0px var(--name-private-thumb-border-color),
    inset 0px -1px 0px var(--name-private-thumb-border-color),
    inset 1px 0px 0px var(--name-private-thumb-border-color),
    inset 0px 1px 0px var(--name-private-thumb-border-color);
  margin: var(--name-private-border-width) var(--name-private-border-width)
    var(--name-private-border-width) var(--name-private-border-width);
        position: relative;
        transform: translateX(calc(-1 * var(--name-private-slider-border-width)));
    z-index: 2;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: var(
    --name-private-thumb-width
  ); /* Set a specific slider handle width */
  height: var(--name-private-thumb-height); /* Slider handle height */
  cursor: pointer; /* Cursor on hover */
  --name-private-thumb-background-color: var(
    --name-thumb-background-color,
    var(--theotown-creater-primary)
  );
  --name-private-thumb-border-width: var(--name-border-width, 3px);
  --name-private-thumb-border-color: var(
    --name-thumb-border-color,
    var(--theotown-creater-primary-bright)
  );
  --name-private-thumb-shadow-color: var(
    --name-thumb-shadow-color,
    var(--theotown-creater-primary-shadows)
  );
  --name-private-shadow-spread: calc(-1 * var(--name-private-thumb-border-width));
  --name-private-border-top: 0px calc(2 * var(--name-private-shadow-spread)) 0px
    var(--name-private-shadow-spread) var(--name-private-thumb-border-color);
  --name-private-border-bottom: 0px calc(-2 * var(--name-private-shadow-spread))
    0px var(--name-private-shadow-spread) var(--name-private-thumb-border-color);
  --name-private-border-right: calc(-2 * var(--name-private-shadow-spread)) 0px
    0px var(--name-private-shadow-spread) var(--name-private-thumb-border-color);
  --name-private-border-left: calc(2 * var(--name-private-shadow-spread)) 0px
    0px var(--name-private-shadow-spread) var(--name-private-thumb-border-color);

  background-color: var(--name-private-thumb-background-color);
  box-shadow: var(--name-private-border-bottom), var(--name-private-border-left),
    var(--name-private-border-top), var(--name-private-border-right),
    inset -1px 0px 0px var(--name-private-thumb-border-color),
    inset 0px -1px 0px var(--name-private-thumb-border-color),
    inset 1px 0px 0px var(--name-private-thumb-border-color),
    inset 0px 1px 0px var(--name-private-thumb-border-color);
  margin: var(--name-private-border-width) var(--name-private-border-width)
    var(--name-private-border-width) var(--name-private-border-width);
        position: relative;
        transform: translateX(calc(-1 * var(--name-private-slider-border-width)));
    z-index: 2;
}

.ctn {
  display: flex;
  align-items: center;
  height: fit-content;
  flex-direction: column;
  position: relative;
}

.markes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 8px;
}

.markesItem:global(.active) {
  color: var(--theotown-creater-primary);
}

.label {
  font-size: 20px;
  margin-bottom: 8px;
  align-self: baseline;
}
