.ctn {
  position: relative;
  display: flex;
  align-items: center;
  --name-private-width: var(--name-width, 56px);
  --name-private-height: var(--name-height, 32px);
  font-size: 14px;
  --name-private-border-color-on: var(--name-border-color-on, var(--theotown-creater-primary-bright));
  --name-private-background-color-on: var(--name-background-color-on, var(--theotown-creater-primary));
}

.ctn input {
  visibility: hidden;
  position: absolute;
  right: 0;
}

.ctn label {
  width: var(--name-private-width);
  height: var(--name-private-height);
  background-color: var(--theotown-creater-secondary-dark);
  cursor: pointer;
}


.ctn > label :global(.pixel-decorate) {
  width: calc((var(--name-private-width) / 2) - 2px - 4px);
  height: calc(var(--name-private-height) - 4px - 8px);
  left: calc(5px + 4px);
  top: auto;
}

.icon {
  width: calc((var(--name-private-width) / 2) - 2px - 4px);
  height: calc(var(--name-private-height) - 4px - 8px);
  position: absolute;
  left: calc(2px + 4px);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--name-private-border-width) var(--name-private-border-width)  var(--name-private-border-width) var(--name-private-border-width);
  box-shadow: var(--name-private-border-bottom), var(--name-private-border-left),
    var(--name-private-border-top), var(--name-private-border-right),
    inset -1px 0px 0px var(--name-private-border-color),
    inset 0px -1px 0px var(--name-private-border-color),
    inset 1px 0px 0px var(--name-private-border-color),
    inset 0px 1px 0px var(--name-private-border-color);
}


.ctn input:checked + div {
  left: calc(var(--name-private-width) - (var(--name-private-width) / 2));
  --name-private-border-color:var(--name-private-border-color-on);
  --name-private-background-color:var(--name-private-background-color-on)
}

.ctn input:checked + div + label > div{
  left: calc(var(--name-private-width) - (var(--name-private-width) / 2) + 3px);
  --name-private-border-color:var(--name-private-border-color-on)
}



.ctn  > :global(.pixel-decorate) i:nth-child(1) {
  left: calc(1px + var(--name-private-border-width));
  top: calc(1px + var(--name-private-border-width));
}

.ctn > :global(.pixel-decorate) i:nth-child(2)  {
  right: calc(1px + var(--name-private-border-width));
  top: calc(1px + var(--name-private-border-width));
}

.ctn > :global(.pixel-decorate) i:nth-child(3)  {
  right: calc(1px + var(--name-private-border-width));
  bottom: calc(1px + var(--name-private-border-width));
}

.ctn > :global(.pixel-decorate) i:nth-child(4) {
  left: calc(1px + var(--name-private-border-width));
  bottom: calc(1px + var(--name-private-border-width));
}




/* .ctn input:checked + div + label {
    background-color: var(--theotown-creater-primary-dark);
  left: calc(var(--size-width) - (var(--size-width) / 2));
  box-shadow: 0px 4px 0 0 var(--input-border), 4px 0px 0 0 var(--input-border),
    -4px 0px 0 0 var(--input-border), 0px -4px 0 0 var(--input-border),
    0px -3px 0 0 var(--theotown-creater-primary-inline-shadow) inset,
    3px 0px 0 0 var(--theotown-creater-primary-inline-shadow) inset,
    0px 3px 0 0 var(--theotown-creater-primary-inline-shadow) inset,
    -3px 0px 0 0 var(--theotown-creater-primary-inline-shadow) inset;
  --input-border: var(--theotown-creater-secondary-bright);
} */

/* .ctn input:checked + div > div{
    width: 2px;
    height: 72%;
    background-color: white;
    border: none;
} */