.modal-fade-enter {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-fade-enter-active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: all 0.2s;
}

.modal-fade-enter .modal-content {
  transform: translate(var(--modal-content-offset-x), var(--modal-content-offset-y));
}

.modal-fade-enter-active .modal-content {
  transform: translate(0, 0);
  transition: all 0.2s;
}

.modal-fade-exit {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.modal-fade-exit-active {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.2s;
}

.modal-fade-exit .modal-content {
  transform: translate(0, 0);
}

.modal-fade-exit-active .modal-content {
  transform: translate(var(--modal-content-offset-x), var(--modal-content-offset-y));
  transition: all 0.2s;
}
