.ctn {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* .ctn:global(.exit) {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
} */


.mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.content {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 24px;
  position: absolute;
  width: 440px;
  height: 440px;
  justify-content: space-between;
}

.spinMoal {
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
}

.footer {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap:12px;
  padding-top: 24px;
  border-top: 1px solid rgba(255, 255, 255, 0.096);
}

.title{
  font-size: 20px;
  margin-bottom: 12px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.096);
}



@media only screen and (max-width: 768px) {
  .content{
      width: calc(100vw - 64px);
      height: calc(90vh - 64px);
  }
}

