html,
body {
  padding: 0;
  margin: 0;
  font-family: "myFirstFont";
  background-color:#090f33 ;
  /* color: var(--theotown-creater-orange-0); */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

:root {
  --theotown-creater-blue-0:#e6eaf4;
  --theotown-creater-blue-1:#c5cdea;
  --theotown-creater-blue-2:#92a0d5;
  --theotown-creater-blue-3:#6677bf;
  --theotown-creater-blue-4:#4052aa;
  --theotown-creater-blue-5:#213395;
  --theotown-creater-blue-6:#192781;
  --theotown-creater-blue-7:#111d6c;
  --theotown-creater-blue-8:#0c1458;
  --theotown-creater-blue-9:#070c43;
  --theotown-creater-orange-0:#fffcf4;
  --theotown-creater-orange-1:#fff5df;
  --theotown-creater-orange-2:#ffe8bf;
  --theotown-creater-orange-3:#ffdaa0;
  --theotown-creater-orange-4:#ffc980;
  --theotown-creater-orange-5:#ffb660;
  --theotown-creater-orange-6:#d5904e;
  --theotown-creater-orange-7:#aa6d3d;
  --theotown-creater-orange-8:#804d2c;
  --theotown-creater-orange-9:#55301d;

  --theotown-creater-primary:var(--theotown-creater-blue-5);
  --theotown-creater-primary-dark:var(--theotown-creater-blue-8);
  --theotown-creater-primary-shadows:var(--theotown-creater-blue-7);
  --theotown-creater-primary-inline-shadow:var(--theotown-creater-blue-9);
  --theotown-creater-primary-bright:var(--theotown-creater-blue-2);

  --theotown-creater-secondary:var(--theotown-creater-orange-5);
  --theotown-creater-secondary-dark:var(--theotown-creater-orange-8);
  --theotown-creater-secondary-shadows:var(--theotown-creater-orange-7);
  --theotown-creater-secondary-inline-shadow:var(--theotown-creater-orange-9);
  --theotown-creater-secondary-bright:var(--theotown-creater-orange-2);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @font-face {
  font-family: "myFirstFont";
  src: url("/font/DinkieBitmap-9px.ttf");
} */

@font-face {
  font-family: "myFirstFont";
  src: url("/font/Cubic_11_1.010_R.woff2");
}



