.container {
  max-width: 480px;
  width: calc(100vw - 48px);
  margin: 0 auto;
  display: grid;
  grid-gap: 24px;
  color: white;
  padding: 24px;
}

.checkBoxs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.seedInputBox {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: auto 36px;
    align-items: flex-end;
    grid-gap: 20px;
    color: white;
}

.seedDice {
    cursor: pointer;
}

.seedDice:active{
    transform: translateY(2px);
}
   

.codeModal {
    word-break: break-word;
}

.container :global(h1) {

}

.betaSign {
  padding: 2px 4px;
  border-radius: 8px;
  background-color: #d42130;
  font-size: 14px;
}


